@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}

.blend {
    animation: blend-in 4s;
}

.menu-open {
    right: 0;
    opacity: 1;
}

.active-nav {
    color: black;
}

@keyframes blend-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
